@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500');

* {
  color: var(--font-color);
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.amount {
  margin: 20px 20px 8px;
}

.amount__goal {
  font-size: calc(var(--font-size) - var(--font-size) * 0.4);
}

.progress-bar {
  background-color: var(--progress-background-color);
  border: 1px solid var(--progress-border-color);
  border-radius: var(--progress-border-radius);
  display: none;
  height: max-content;
  margin: 0 20px;
  overflow: hidden;
  position: relative;
}

.progress-bar .progress-bar__content {
  background-color: var(--progress-bar-color);
  color: var(--progress-bar-font-color);
  display: block;
  font-size: var(--progress-bar-font-size);
  height: 100%;
  padding: 5px 0;
  text-align: end;
  width: 0;
}

.progress-bar .progress-bar__content::after {
  content: '';
  display: inline;
  padding: 4px;
}

.stretch-goal {
  font-size: calc(var(--progress-bar-font-size) + var(--progress-bar-font-size) * 0.2);
  margin: 8px 20px 0;
  text-align: right;
}
